*.aux
*.bbl
*.blg
*.dll
*.exe
*.exp
*.idb
*.ilk
*.lib
*.lastbuildstate
*.layout
*.log
*.o
*.obj
*.opensdf
*.pdb
*.ppm
*.res
*.sdf
*.so
*.suo
*.tlog
*.user
*.wav
*.pk
Misc/UnusedCode/RSLibAndTests/RSLibTests/GeneratedFiles
Products/AudioPlugins/ToolChain/Builds/VisualStudio2015/x64/Debug/

*.ipch
*.opendb
*.db
Tests/TestsRosicAndRapt/Builds/VisualStudio2019/x64/Debug/ConsoleApp/TestsRosicAndRapt_ConsoleApp.vcxproj.FileListAbsolute.txt
*.png
