#---------------------------------------------------------------------------------------------------
# Ignored file formats:

*.aux
*.bbl
*.blg
*.dll
*.exe
*.exp
*.idb
*.ilk
*.lib
*.lastbuildstate
*.layout
*.log
*.o
*.obj
*.opensdf
*.pdb
*.ppm
*.res
*.sdf
*.so
*.suo
*.tlog
*.user
*.wav
*.pdf
*.pk
*.ipch
*.opendb
*.db
*.png
*.sfz
*.xcworkspacedata
*.xcuserstate
*.xcscheme
*.xcsettings
*.xcbkptlist
*.7z
*.DS_Store

#---------------------------------------------------------------------------------------------------
# Ignored folders:

Misc/UnusedCode/RSLibAndTests/RSLibTests/GeneratedFiles/

Products/AudioPlugins/ToolChain/Builds/MacOSX/build/
Products/AudioPlugins/ToolChain/Builds/MacOSX/ToolChain.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Products/AudioPlugins/ToolChain/Builds/MacOSX/ToolChain.xcodeproj/xcuserdata/rob.xcuserdatad/xcschemes/xcschememanagement.plist
Products/AudioPlugins/ToolChain/Builds/VisualStudio2015/x64/
Products/AudioPlugins/ToolChain/Builds/VisualStudio2019/x64/



Products/AudioPlugins/ToolChain/Builds/VisualStudio2019/enc_temp_folder/
Products/AudioPlugins/ToolChain/Builds/VisualStudio2019/.vs/


Products/AudioPlugins/ToolChain/Builds/VisualStudio2022/.vs/
Products/AudioPlugins/ToolChain/Builds/VisualStudio2022/x64/



Products/Applications/AudioPluginHost/Builds/MacOSX/build/

Products/Applications/TestAppJURA/Builds/VisualStudio2019/x64/

Tests/TestsRosicAndRapt/Builds/MacOSX/build/
Tests/TestsRosicAndRapt/Builds/VisualStudio2019/x64/
Tests/TestsRosicAndRapt/Builds/VisualStudio2019/enc_temp_folder/

Tests/TestsRosicAndRapt/Builds/VisualStudio2022/.vs/
Tests/TestsRosicAndRapt/Builds/VisualStudio2022/x64/
Tests/TestsRosicAndRapt/Builds/VisualStudio2022/enc_temp_folder/

Tests/Optimization/VS2019/x64/

# A folder that I sometimes create locally for some temporary throw-away files:
Temp/


#---------------------------------------------------------------------------------------------------
# Ignored files:










Tests/TestsRosicAndRapt/Builds/VisualStudio2019/testTextFile.txt
Tests/TestsRosicAndRapt/Builds/VisualStudio2019/testTextFile2.txt

Tests/TestsRosicAndRapt/Builds/VisualStudio2019/Win32/Debug x86-32Bit/ConsoleApp/TestsRosicAndRapt_ConsoleApp.vcxproj.FileListAbsolute.txt
Tests/TestsRosicAndRapt/Builds/VisualStudio2019/x64/Debug/ConsoleApp/TestsRosicAndRapt_ConsoleApp.vcxproj.FileListAbsolute.txt
Tests/TestsRosicAndRapt/Builds/VisualStudio2022/testTextFile2.txt
Tests/TestsRosicAndRapt/Builds/VisualStudio2022/testTextFile.txt




#---------------------------------------------------------------------------------------------------
# Unsorted (probably added via GitHub desktop GUI):

# ToDo: Remove redundancies like files and folders whose enclosing folder is already ignored