*.aux
*.bbl
*.blg
*.dll
*.exe
*.exp
*.idb
*.ilk
*.lib
*.lastbuildstate
*.layout
*.log
*.o
*.obj
*.opensdf
*.pdb
*.ppm
*.res
*.sdf
*.so
*.suo
*.tlog
*.user
Misc/UnusedCode/RSLibAndTests/RSLibTests/GeneratedFiles
Products/AudioPlugins/Chainer/Builds/VisualStudio2015/x64/Debug/

